b {
    background-color: green;

}

strong {
    background-color: purple
}

.green {
    background-color: green;
    transition: background-color 1s;
}

.red {
    background-color: red;
    transition: background-color 1s;
}

#i {
    font-size: 24px;
    width: 300px;
    height: 300px;
    box-shadow: 15px 15px 4px 8px gray;
}


span {
    font-weight: bolder;
}